* {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Gotham', sans-serif;
}
body {
    height: fit-content;
    box-sizing: border-box;
}
.page1-container {
    background: url(/assets/img/page1_bg.jpg) no-repeat center /cover;
    background-attachment: local;
    background-position: -10px -80px;
    position: relative;
    height: 583px;
    width: 100%; 
    overflow: hidden;
}
.header {
    position: relative;
    height: 10vh;
}
.nav-bar {
    font-weight: lighter;
    position: relative;
    float: right;
    list-style: none;
    margin-right: 10px;
    line-height: 21px;
    z-index: 1;
}
.nav-bar li {
    font-size: 14px;
    display: inline-block;
    position: relative;
    padding: 10px 15px;
    margin: 5px 0px;
    font-weight: bold;
}
.nav-list li:hover {
background: #717782;
border-radius: 15px;
cursor: pointer;
}
.logo {
    float:left;
    margin-top: 15px;
    z-index: 2;
}
.logo-icon {
    width: 129.99px;
    height: 29.9px;
    margin-left: 40px;
}
.logo-icon:hover {
    cursor: pointer;
}
.middle-bar {
    position: relative;
    text-align: center;
    list-style: none;
    line-height: 21px;
    font-weight: 400;
    left: 50px;
}
.middle-bar li {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    margin: 5px 0px;
}
.middle-bar li:hover {
    background-color: #717782;
    border-radius: 15px;
    cursor: pointer;
}
aside {
    float: left;
    top: 80px;
    position: absolute;
    width: 5px;
    background-color: transparent;
    height: 300px;
    list-style: none;
}
aside li {
    font-size: 30px;
    text-align: left;
    font-weight: lighter;
    display: inline-block;
    background-color: transparent;
    padding: 1px 3px;
    opacity: 0.3;
}
aside li:first-of-type {
    position: relative;
    font-weight: 500;
    right: 1px;
    color: white;
    opacity: unset;
}
aside li:hover {
    cursor: pointer;
}
.center {
    text-align: center;
    position: absolute;
    float: right;
    width: 100vw;
    height: 83vh;
    z-index: 1;
}
.main-content {
    position: relative;
    top: 30px;
    display: inline-block;
    font-size: 30px;
}
.model3 {
    font-weight: 500;
    font-size: 40px;
    margin-top: 20px;
}
.clr {
    clear: both;
}
.footer-page1 {
    position: absolute;
    background-color: transparent;
    bottom: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
}

.nav-bar button {
    position: relative;
    float: right;
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: gold;
    border: none;
    overflow: auto;
}
.speedmeter {
    position: relative;
    height: 70px;
    width: 100%;
    top:320px;
    background-color: transparent;
    padding: 0px 0px;
}
.sm {
    display: inline-block;
    position: relative;
    left:50px;
    width: 200px;
    height: 100%;
    color: white;
    padding:0;
    margin: 0;
}
.sm.one, .sm.two, .sm.three {
    width: 150px;
    margin: 0px 10px;
    padding: 10px 0px;  
}
.sm.four {
    position: relative;
    bottom: 25px;
}
.one.t p, .two.t p, .three.t p {
    font-size: 28px;
    font-weight: bold;
}
.one.b p, .two.b p, .three.b p {
    font-family: gotham;
    font-size: 12px;
    font-weight: lighter;
    padding: 10px 0px;
}
.sm.four button {
    background-color: transparent;
    border: 3px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
.sm.four button:hover {
    font-weight: 500;
    background-color: white;
    color: black;
    cursor: pointer;
}
.page2-container {
    display: block;
    height: 768px;
    width: 100%; 
}
.right-page2 {
    background-color: rgb(112, 134, 132);
    float: right;
    width: 828px;
    height: 583px;
    background: url(/assets/img/page_2_safe.png) no-repeat;
    background-size: 110%;
    background-position: top 0px right 120px;
}
.left-page2 {
    position: absolute;
    float: left; 
    background-color: white;
    width: 415px;
    height: 583px;
    margin-left: 10px;
}
.left-page2 p {
    font-size: 14px;
    font-weight: 400;
    color: black !important;
    line-height: 21px;
}

.scroll2 {
    float: left;
    top: 150px;
    position: relative;
    width: 5px;
    background-color: transparent;
    height: 300px;
    list-style: none;
}
.scroll2 li {
    color:gray;
    font-size: 30px;
    text-align: left;
    font-weight: lighter;
    display: inline-block;
    background-color: transparent;
    padding: 1px 3px;
    opacity: 0.3;
}
.scroll2 li:nth-child(2) {
    position: relative;
    right: 1px;
    font-weight: 500;
    color: black;
    opacity: unset;
}
.scroll2 li:hover {
    cursor: pointer;
}

.main2 {
    position: relative;
    float: right;
    height: 583px;
    width: 400px;
}
.heading2 {
    display: inline-block;
    position: relative;
    height: 200px;
    width:350px;
    background-color: white;
    left: 25px;
}
.heading2 p {
    color:black;
}
.logo {
    position: relative;
    height: 40px;
    width: 150px;
    padding: 8px 10px;
}
.logo-icon2:hover {
    cursor: pointer;
}
.heading2-safety p {
    font-weight: 300;
    font-size: 17px;
    line-height: 17px;
    position: relative;
    margin-top: 60px;
    margin-left: 15px;
    margin-bottom: 5px;
    color: black;
}
.heading2-heading p {
    font-weight: 500;
    font-size: 28px;
    position: relative;
    margin-left: 15px;
    margin-top: 5px;
    line-height: 36px;
}
.main-text2 {
    position: relative;
    height: 200px;
    width:350px;
    background-color: white;
    left: 25px;
}
.main-text2 p {
    color: gray;
}

.button2 {
    position: relative;
    height: 100px;
    width:350px;
    background-color: white;
    left: 25px;
}
.button2-container {
    display: inline-block;
    padding-top: 30px;
    padding-left:10px;
}
.button2-container button {
    background-color: white;
}
.plus {
    display: inline-block;
    color: black;
    padding: 5px 10px;
    border: 3px solid black;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}
.plus:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.learn {
    display: inline-block;
    margin: 0px 5px;
    border: none;
    color: black;
    cursor: pointer;
}
.ordernow {
    display: inline-block;
    border: 3px solid black;
    padding: 10px 24px;
    border-radius: 30px;
    color: black;
    cursor: pointer;
}
.ordernow:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.learn:hover {
    cursor: pointer;
}
.page3-container {
    box-sizing: border-box; 
    display: inline-block;
    position: relative;
    height: 560px;
    width: 100%; 
    bottom: 205px;
}
.bg3 {
    box-sizing: border-box;
    position:relative;
    display: inline-block;
    height: 375px;
    width: 100%;
    background: url(/assets/img/page3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 30% 59%;
}
.bottom3 {
    position: relative;
    display: inline-block;
    bottom: 10px;
    height: 200px;
    width: 100%;
    background-color: white;
}
.bottom3 p {
    color:black;
}
.bottom3-container {
    box-sizing: border-box;
}
.bottom3-right {
    width: 60%;
    height: 199px;
    background-color: white;
    position: relative;
    float: right;
}
.bottom3-right p {
    position: absolute;
    top: 40px;
    line-height: 1.5;
    color:gray;
    font-weight: 300;
    word-spacing: 2px;
    /* letter-spacing: 1px; */
}
.bottom3-left {
    width : 35%;
    height: 199px;
    background-color: white;
    position: relative;
    float: left;
}
.btml3-1 {
    position: relative;
    top: 60px;
    left:150px;
    font-size: 20px;
}
.btml3-2 {
    position: relative;
    font-weight: bold;
    font-size: 28px;
    top:55px;
    left:150px;
}
.btml3-3 {
    position: relative;
    top: 40px;
    left:140px;
    padding: 0px;
    margin: 0;
}
.logo3 {
    position: relative;
    left: 38px;
}
.logo3 svg {
    position: relative;
    bottom: 2px;
    height: 12.5px;
}

.scroll3 {
    float: left;
    top: 80px;
    position: relative;
    width: 5px;
    background-color: transparent;
    height: 300px;
    list-style: none;
}
.scroll3 li {
    font-weight: lighter;
    font-size: 30px;
    text-align: left;
    display: inline-block;
    background-color: transparent;
    padding: 1px 8px;
    opacity: 0.3;
}
.scroll3 li:nth-child(3) {
    position: relative;
    right: 1px;
    font-weight: 500;
    color: white;
    opacity: unset;
}
.scroll3 li:hover {
    cursor: pointer;
}
.top-container {
    box-sizing: border-box;
}
.banner3 {
    box-sizing: content-box;
    background-color: transparent;
    height: 100px;
    width: 90%;
    right: 50px;
    float: right;
    position:relative;
    top: 175px;
    text-align: center;
}
.banner3 li {
    display: inline-block;
}
.banner {
    position: relative;
    margin: 0px 20px;
    height: 45px;
}
.banner.t {
    font-size: 28px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 1px;
}
.banner.b {
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    padding: 5px 0px;
}
